In [1]:
import pandas as pd
from polyglot.text import Text

In [3]:
path = '../data/test.csv'

In [4]:
df = pd.read_csv(path)

/home/nazar/AI_Spring_hackathon_2018/env/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.columns

Index(['comment', 'comment_id', 'company_id', 'date_created', 'month_created',
       'product_id', 'rating', 'user_agent', 'user_date_created', 'user_id',
       'user_ip'],
      dtype='object')

In [6]:
df.head()

,comment,comment_id,company_id,date_created,month_created,product_id,rating,user_agent,user_date_created,user_id,user_ip
0,"спасибо все отлично, качество как на картинке,...",1655822,2214161,2018-03-19 21:36:07,2018-03,1301549.0,5,NaN,2017-11-01 00:00:46,12969242,NaN
1,Заказывала шоколад Риттер Спорт 10 шт. К сожал...,1655823,2333068,2017-12-10 13:46:49,2017-12,699700.0,5,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,2017-11-01 00:02:19,12969248,91.90.13.210
2,"Быстро отзвонились, охотно отвечали на все воп...",1655824,752692,2017-11-01 00:07:38,2017-11,NaN,5,Mozilla/5.0 (Windows NT 6.1; rv:38.0) Gecko/20...,2017-11-01 00:02:44,12969251,93.115.95.204
3,Очень оперативный и внимательный к покупателю ...,1655825,334751,2017-11-20 23:40:01,2017-11,1279247.0,5,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,2017-11-01 00:02:44,12969251,37.28.153.28
4,Все прошло очень оперативно! Заказ привезли в ...,1655826,2263650,2017-11-20 23:39:51,2017-11,1225545.0,5,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,2017-11-01 00:02:44,12969251,37.28.153.28

In [7]:
tokenized = [Text(comment) for comment in df.comment[:10]]

[Text("спасибо все отлично, качество как на картинке, очень доброжелательные))"),
 Text("Заказывала шоколад Риттер Спорт 10 шт. К сожалению, одной позиции не оказалось в наличии, но не страшно, заменили на другой по моему выбору, очень вкусный оказался. Позвонили утром след. дня, после заказа, так как я заказывала поздно вечером. Доставили быстро. Спасибо, буду заказывать еще."),
 Text("Быстро отзвонились, охотно отвечали на все вопросы,  товар дошел целым,  что немаловажно. Доволен сервисом и буду заказывать снова"),
 Text("Очень оперативный и внимательный к покупателю продавец. Большой ассортимент качественного товара. Адекватные цены. Понадобится товар из этого ассортимента, покупать буду только здесь и другим посоветую."),
 Text("Все прошло очень оперативно! Заказ привезли в этот же день! Я доволен."),
 Text("Отличная компания. Очень оперативно и качественно оказали услугу. Довольна всем. В дальнейшем буду пользоваться услугами этой компании. От всей души желаю ей процветания. "),
 Text("Все четко. Заказал наложенным платежом. Пришел на почту. Оплатил. Спасибо!"),
 Text("Компетентность, оперативность, пунктуальность. Особо отмечу доброжелательность. Огромное спасибо"),
 Text("Такой быстрой доставки еще не встречал. Все просто замечательно, порадовали. Спасибо!"),
 Text("Заказ выполнен в срок, адекватная цена, без проблем изменил оплату с безналичного на наложенный платёж. Нареканий к качеству товара нет.")]